{% extends './base.html.twig' %}

{% block content %}
<main>
    <section class='text'>
    	<p><b>Runelogs</b> is a modern Runescape tracker with a focus on stability and speed.</p>
    	<p>To comply with the Jagex ToS, Runelogs operates as a free, non-commercial and fully <a href="https://github.com/dreadnip/runelogs">open-source</a> service.</p>
        <blockquote>
            <p>Materials (including without limit all information, software, <b>data</b>, text, photographs, graphics, sound and video) placed on any Jagex Product by us, or on our behalf, are protected by our copyright and other intellectual property rights. You may not use these materials or any Jagex Product <i>except</i> in accordance with these terms and conditions and for personal (i.e. <b>non-commercial)</b> use only.</p>
            <p>All intellectual property or other rights in any game character, account, content, virtual currency and virtual items in the Jagex Products are and will remain the property of Jagex and/or its licensors. You are only granted limited permission (which can be revoked at anytime) to use such content or Jagex Product.</p>
        </blockquote>
        
        <p>If you'd like to know exactly which data we store you can take a look at our open-source <a href="https://github.com/dreadnip/runelogs/blob/master/schema.sql">database schema</a>.</p>
        <p>Feature requests & bugs go on <a href="https://twitter.com/dreadnip">Twitter</a>.</p>
    </section>
</main>
{% endblock %}