{% extends 'base.html.twig' %}

{% block content %}
    <main>
        <section class='text'>
            <p><b>Runelogs</b> is currently undergoing maintenance. We'll be back soon!</p>
        </section>
    </main>
{% endblock %}